.navbar-brand{
    background-color: teal;
    font-family: "Times New Roman", Times, serif;
    color: purple;
    padding: 10px;
}

.container{
    background-color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}