.navbar-brand{
    background-color: teal;
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
}

.container{
    background-color: white;
}

@media (max-width: 680px) {
    .navbar{
    background-color: teal;
    }  
    .nav-link{
      color: white !important;
    }
  }

@media (min-width: 680px) {
    .navbar{
    background-color: white;
    }  
  }